<?xml version="1.0" encoding="UTF-8"?>

<!-- 복붙 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jl3b.touche_nubes.member.mapper.MemberSQLMapper">
	
	
	<!-- 입주민 -->
	<!-- 입주민 가입 -->
	<insert id="insertMember">
		<![CDATA[
			INSERT INTO JL3B_member VALUES(
				#{member_no},
				#{npki_key},
				#{member_id},
				#{member_pw},
				#{member_rname},
				#{member_mail},
				1,
				0,
				SYSDATE)
		]]>
	</insert>
	
	<!-- 입주민 로그인 -->
	<select id="selectMemberByIdAndPw" resultType="com.jl3b.touche_nubes.membervo.MemberVo">
		<![CDATA[
			SELECT * 
			FROM 
				JL3B_MEMBER r, JL3B_MEMBER_AUTH a 
			WHERE 
				r.member_no = a.member_no 
			AND 
				r.member_id = #{member_id} 
			AND 
				r.member_pw = #{member_pw} 
			AND 
				a.auth_certification = 'Y'
		]]>
	</select>
	
	<!-- 입주민 확인 -->
	<select id="selectMemberByNo" resultType="com.jl3b.touche_nubes.membervo.MemberVo">
		<![CDATA[
			SELECT * 
			FROM 
				JL3B_member 
			WHERE 
				member_no = #{no}
		]]>
	</select>
	
	<!-- 아이디 확인 -->
	<select id="selectMemberById" resultType="com.jl3b.touche_nubes.membervo.MemberVo">
		<![CDATA[
			SELECT * 
			FROM 
				JL3B_member 
			WHERE 
				member_id = #{id}
		]]>
	</select>
	
	<!-- 입주민 인증번호 중복방지 -->
	<select id="selectMemberByNpki" resultType="com.jl3b.touche_nubes.membervo.MemberVo">
		<![CDATA[
			SELECT * 
			FROM 
				JL3B_member 
			WHERE NPKI_KEY = #{key}
		]]>	
	</select>
	
	<!-- 인증번호 유효성검사? -->
   <select id="existNpki" resultType="String">
      <![CDATA[
         SELECT * 
         FROM 
            JL3B_NPKI 
         WHERE NPKI_KEY = #{key}
      ]]>   
   </select>
   
   <!-- 아이디 찾기 -->
   <select id="searchMemberId" resultType="String">
 		<![CDATA[
 			SELECT NVL(member_id,0) 
 			FROM JL3B_member 
 			WHERE 
 				NPKI_KEY = #{npki_key} 
 			AND 
 				member_RNAME = #{member_rname}
 		]]>  
   </select>
   
   <!-- 비밀번호 변경 조건 -->
   <select id="conditionMemberPw" resultType="com.jl3b.touche_nubes.membervo.MemberVo">
   		<![CDATA[
   			SELECT * 
   			FROM 
   				JL3B_member 
   			WHERE 
   				member_ID = #{member_id} 
   			AND 
   				member_MAIL = #{member_mail}
   		]]>
   </select>
	
   <!-- 입주민 회원 비밀번호 변경 -->
   <update id="updateMemberPw">
   		<![CDATA[
   			UPDATE JL3B_member 
   			SET 
   				member_PW = #{member_pw} 
   			WHERE 
   				member_NO = #{member_no}
   		]]>
   </update>
   
   <!-- 인증 키 -->
   <select id="creatKey" resultType="int">
         <![CDATA[
	      	SELECT JL3B_member_SEQ.nextval FROM DUAL
	     ]]>
   </select>
   
   <!-- 인증메일용 테이블 삽입  -->
    <insert id="insertAuth">
	     <![CDATA[
	         INSERT INTO JL3B_MEMBER_AUTH
	         VALUES(
				 JL3B_MEMBER_AUTH_seq.NEXTVAL,
				 #{member_no},
				 'N',
				 #{auth_key}
			 )
		]]>
	 </insert>
	 
	 <!-- 메일로 넘어온 인증처리  -->
	  <update id="updateAuth">
		<![CDATA[
		     UPDATE JL3B_MEMBER_AUTH
		     SET 
		     	auth_certification = 'Y'
		     WHERE 
		     	auth_key LIKE #{key}
		 ]]>
	  </update> 
   
	
	<!-- 센터 -->
	<!-- 센터 가입 -->
	<insert id="insertCenter">
		<![CDATA[
			INSERT INTO JL3B_CENTER VALUES(
				#{center_no},
				#{npki_key},
				#{center_id},
				#{center_pw},
				#{center_name},
				#{center_mail},
				#{center_pr},
				#{center_about},
				SYSDATE)
		]]>
	</insert>
   
   <!-- 센터 인증번호 중복방지 -->
   <select id="selectCenterByNpki" resultType="com.jl3b.touche_nubes.membervo.CenterVo">
   		<![CDATA[
   			SELECT *
   			FROM
   				JL3B_CENTER
   			WHERE NPKI_KEY = #{key}
   		]]>
   </select>
   
   <!-- 센터 보기 -->
	<select id="selectCenterByNo" resultType="com.jl3b.touche_nubes.membervo.CenterVo">
		<![CDATA[
			SELECT * 
			FROM 
				JL3B_CENTER
			WHERE 
				center_no = #{center_no}
		]]>
	</select>
	
	<!-- 센터 로그인 -->
	<select id="selectCenterByIdAndPw" resultType="com.jl3b.touche_nubes.membervo.CenterVo">
		<![CDATA[
			SELECT * 
			FROM 
				JL3B_CENTER 
			WHERE 
				center_id = #{center_id} 
			AND 
				center_pw = #{center_pw}
		]]>
	</select>
	
	<!-- 이메일 중복확인 -->
   <select id="existEmail" resultType="String">
      <![CDATA[
         SELECT * 
         FROM 
         	JL3B_member 
         WHERE 
         	member_mail = #{member_mail}
      ]]>
   </select>
   
   <!-- 센터 아이디 중복체크 -->
   <select id="selectCenterById" resultType="String">
      <![CDATA[
         SELECT * 
         FROM 
            JL3B_CENTER
         WHERE 
            center_id = #{center_id}
      ]]>
   </select>
   
   <!-- 센터 이메일 중복확인 -->
   <select id="existCenterEmail" resultType="String">
      <![CDATA[
         SELECT * 
         FROM 
            JL3B_CENTER
         WHERE 
            center_mail = #{center_mail}
      ]]>
   </select>
   
   <!-- 센터 아이디 찾기 -->
   <select id="searchCenterId" resultType="String">
 		<![CDATA[
 			SELECT NVL(center_id, 0) 
 			FROM 
 				JL3B_CENTER 
 			WHERE 
 				NPKI_KEY = #{npki_key} 
 			AND 
 				CENTER_NAME = #{center_name}
 		]]>  
   </select>
   
   <!-- 센터 비밀번호 변경 조건 -->
   <select id="conditionCenterPw" resultType="com.jl3b.touche_nubes.membervo.CenterVo">
   		<![CDATA[
   			SELECT * 
   			FROM 
   				JL3B_CENTER 
   			WHERE 
   				CENTER_ID = #{center_id} 
   			AND 
   				CENTER_MAIL = #{center_mail}
   		]]>
   </select>
   
   <!-- 센터 비밀번호 변경 -->
   <update id="updateCenterPw">
   		<![CDATA[
   			UPDATE JL3B_CENTER 
   			SET 
   				CENTER_PW = #{center_pw} 
   			WHERE 
   				CENTER_NO = #{center_no}
   		]]>
   </update>
   
   
   <!-- 관리자 -->
   <!-- 전체 회원 목록 출력 -->
   <select id="selectMemberAll" resultType="com.jl3b.touche_nubes.membervo.MemberVo">
   		<![CDATA[
   			SELECT * FROM JL3B_member ORDER BY member_GRADE DESC
   		]]>
   </select>
   
   <update id="updateMemberGrade">
   		<![CDATA[
   			UPDATE JL3B_member SET member_GRADE = #{member_grade} WHERE member_NO = #{member_no}
   		]]>
   </update>

</mapper>