<?xml version="1.0" encoding="UTF-8"?>

<!-- 복붙 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jl3b.touche_nubes.member.mapper.MemberSQLMapper">
	
	<!-- 입주민 가입 -->
	<insert id="insertResi">
		<![CDATA[
			INSERT INTO JL3B_RESI VALUES(
				JL3B_RESI_SEQ.NEXTVAL,
				#{npki_key},
				#{resi_id},
				#{resi_pw},
				#{resi_rname},
				#{resi_mail},
				1,
				0,
				SYSDATE)
		]]>
	</insert>
	
	<!-- 입주민 로그인 -->
	<select id="selectResiByIdAndPw" resultType="com.jl3b.touche_nubes.membervo.ResiVo">
		<![CDATA[
			SELECT * 
			FROM 
			JL3B_RESI 
			WHERE 
			resi_id = #{resi_id} 
			AND 
			resi_pw = #{resi_pw}
		]]>
	</select>
	
	<!-- 입주민 확인 -->
	<select id="selectResiByNo" resultType="com.jl3b.touche_nubes.membervo.ResiVo">
		<![CDATA[
			SELECT * 
			FROM 
			JL3B_RESI 
			WHERE 
			resi_no = #{no}
		]]>
	</select>
	
	<!-- 아이디 확인 -->
	<select id="selectResiById" resultType="com.jl3b.touche_nubes.membervo.ResiVo">
		<![CDATA[
			SELECT * 
			FROM 
			JL3B_RESI 
			WHERE 
			resi_id = #{id}
		]]>
	</select>
	
	<!-- 센터 가입 -->
	<insert id="insertCenter">
		<![CDATA[
			INSERT INTO JL3B_CENTER VALUES(
				JL3B_CENTER_SEQ.NEXTVAL,
				#{npki_key},
				#{center_id},
				#{center_pw},
				#{center_name},
				#{center_mail},
				SYSDATE)
		]]>
	</insert>
	
	<!-- 입주민 인증번호 중복방지 -->
	<select id="selectResiByNpki" resultType="com.jl3b.touche_nubes.membervo.ResiVo">
		<![CDATA[
			SELECT * 
			FROM 
				JL3B_RESI 
			WHERE NPKI_KEY = #{key}
		]]>	
	</select>
	
	
	<!-- 인증번호 유효성검사? -->
   <select id="existNpki" resultType="String">
      <![CDATA[
         SELECT * 
         FROM 
            JL3B_NPKI 
         WHERE NPKI_KEY = #{key}
      ]]>   
   </select>
   
   <!-- 센터 인증번호 중복방지 -->
   <select id="selectCenterByNpki" resultType="com.jl3b.touche_nubes.membervo.CenterVo">
   		<![CDATA[
   			SELECT *
   			FROM
   				JL3B_CENTER
   			WHERE NPKI_KEY = #{key}
   		]]>
   </select>
   
   <!-- 센터 확인 -->
	<select id="selectCenterByNo" resultType="com.jl3b.touche_nubes.membervo.CenterVo">
		<![CDATA[
			SELECT * 
			FROM 
				JL3B_CENTER
			WHERE 
				center_no = #{center_no}
		]]>
	</select>
	
	<!-- 센터 로그인 -->
	<select id="selectCenterByIdAndPw" resultType="com.jl3b.touche_nubes.membervo.CenterVo">
		<![CDATA[
			SELECT * 
			FROM 
				JL3B_CENTER 
			WHERE 
				center_id = #{center_id} 
			AND 
				center_pw = #{center_pw}
		]]>
	</select>

</mapper>